@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Red Hat Display";
}

:root {
  --header: 2.5rem;
  --fs-900: 3.5rem;
  --fs-800: 2.25rem;
  --fs-700: 2rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-550: 1.35rem;
  --fs-450: 1.1rem;
  --fs-400: 1rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --blue: #3c81d3;
  --green: #04ce00;
  --red: #ff718b;
  --gray: #6E6865;
}

.header {
  max-width: 100vw;
  height: 15vh;
  /* background: red; */
  display: flex;
  align-items: center;
}

.header-shark {
  max-width: 100vw;
  height: 10vh;
  /* background: red; */
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 2%;
}

.logo-shark {
  height: 30px;
}

.left-side {
  float: left;
  width: 50vw;
  max-width: 50vw;
  /* background: yellow; */
  height: 70vh;
}

.left-header {
  font-size: var(--fs-700);
  font-weight: var(--fw-800);
  margin-left: 15%;
  margin-top: 20%;
}

.left-drop {
  margin-left: 15%;
  max-width: 35vw;
}

.right-side {
  float: right;
  /* background: green; */
  width: 50vw;
  max-width: 40vw;
  margin-right: 5%;
}

.illustration1 {
  height: 70vh;
  margin-top: 2%;
  margin-left: 30%;
}

.button-container {
  max-width: 35vw;
  margin-top: 40px;
  margin-left: 15%;
}

.button {
  width: 30vw;
  height: 55px;
  color: var(--blue);
  border-radius: 15px;
}

.link{
  text-decoration: none;
  color: red;
}

/* Dashboard */

.dashboard > * {
  margin-left: 2%;
}

.dash-header {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
}

.donut-header {
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  margin-top: 4%;
  margin-bottom: 2%;
}

.donut {
  max-height: 50vh;
  max-width: 50vw;
}

.donut-innertext-label {
  font-size: var(--fs-700);
}

.donut-innertext-value {
  font-size: var(--fs-700);
}

.flagged {
  fill: #ff5041;
}

.standard {
  fill: #20bd95;
}

.moderate {
  fill: #e0c6fd;
}

.high {
  fill: #9bbef9;
}

.donut-legend-item-label {
  font-size: var(--fs-550);
  fill: black;
}

.transactions {
  margin-left: 15%;
}

.trans-header {
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  margin-top: 4%;
}

.view-all {
  float: right;
  font-size: var(--fs-400);
  color: #868686;
}

.left-sidedash {
  float: left;
  max-width: 45vw;
  /* background: yellow; */
  height: 70vh;
}

.right-sidedash {
  /* background: green; */
  max-width: 50vw;
  width: 50vw;
  height: 10vh;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.trans-body {
  margin-top: 5%;
}

.trans-item {
  font-size: var(--fs-450);
  margin-bottom: 20px;
  font-weight: var(--fw-500);
}

.trans-amt {
  font-size: var(--fs-450);
  margin-bottom: 20px;
  text-align: right;
  font-weight: var(--fw-700);
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

/* Dashboard -> Financial Overview */
.finance-header {
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  margin-bottom: 4%;
}

.card-holder {
  max-width: 100vw;
  margin-right: 2%;
  height: 28vh;
  margin-bottom: 4%;
  display: flex;
  justify-content: space-between;
}

.card {
  height: 100%;
  width: 30vw;
  border: 1px solid rgba(181, 181, 181, 0.71);
  border-radius: 22px;
}

.card-content{
  margin: 7% 10%;
  /* min-height: 60%; */
}

.card-header{
  font-size: var(--fs-500);
  font-weight: var(--fw-600);
  color: var(--gray);
}

.card-amt{
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  margin-top: 5%;
}

.card-footer{
  margin-top: 5%;
  font-weight: var(--fw-600);
}

.card-comp{
  color: var(--gray);
  font-weight: var(--fw-700);
  margin-left: 5%;
}

.page-footer{
  margin-bottom: 5%;
}

.back-nav{
  max-width: 50vw;
}

.back-nav-link{
  font-size: var(--fs-600);
  font-weight: var(--fw-800);
  color: var(--blue);
}

.front-nav{
  float: right;
  text-align: right;
  min-width: 50vw;
}

.arrow-left{
  margin-right: 2%;
  font-size: 1.75rem;
}

.front-nav-link{
  font-size: var(--fs-600);
  font-weight: var(--fw-800);
  color: var(--blue);
}

.arrow-right{
  margin: 0 5% 0 2%;
  font-size: 1.75rem;
}

/* Analysis */

.analysis > * {
  margin-left: 2%;
}

.flag{
  height: 40px;
  margin-right: 25px;
  cursor: pointer;
}

.flag:hover{
  transform: translate(0,-5px);
}

.clear{
  height: 40px;
  cursor: pointer;
}

.clear:hover{
  transform: translate(0,-5px);
}

.red-row{
  background-color: var(--red);
}

.foot{
  margin-top: 5%;
}

/* Report */

.report > * {
  margin-left: 2%;
}

.chart-container{
  width: 50%;
}

.col{
  flex:60%;
}

.card-report {
  height: 100%;
  width: 90%;
  border: 1px solid rgba(181, 181, 181, 0.71);
  border-radius: 22px;
  background-color: #FFE3E0;
}

.report-percent{
  font-size: 6rem;
  color: #ff5141cc;
}

.card-comp2{
  color: var(--gray);
  font-weight: var(--fw-700);
}

.report-generation-dets-title{
  font-size: var(--fs-550);
  font-weight: var(--fw-700);
  margin-bottom: 1%;
}

.report-generation-dets{
  margin-left: 8%;
  font-weight: var(--fw-600);
}

.hai{
  margin-left: 10%;
}

.setWidth{
  width: 20vw;
}

.text{
  width: 30vw;
}

.report-bottom{
  margin-bottom: 100px;
}
