@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Red Hat Display";
}

:root {
  --header: 2.5rem;
  --fs-900: 3.5rem;
  --fs-800: 2.25rem;
  --fs-700: 2rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-550: 1.35rem;
  --fs-400: 1rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --blue: #3c81d3;
  --green: #04ce00;
  --red: #ff718b;
}

.header {
  width: 100vw;
  height: 15vh;
  /* background: red; */
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 2%;
}

.main-body {
  /* background: green; */
}

.left-side {
  float: left;
  width: 50vw;
  /* background: yellow; */
  height: 70vh;
}

.left-header {
  font-size: var(--fs-700);
  font-weight: var(--fw-800);
  margin-left: 15%;
  margin-top: 20%;
}

.left-drop {
  margin-left: 15%;
  max-width: 35vw;
}

.right-side {
  float: right;
  /* background: green; */
  width: 50vw;
}

.illustration1 {
  height: 70vh;
  margin-top: 2%;
  margin-left: 30%;
}

.button-container {
  max-width: 35vw;
  margin-top: 40px;
  margin-left: 15%;
}

.button {
  width: 30vw;
  height: 55px;
  color: #3c81d3;
  border-radius: 15px;
}
